<div class="auth-container">
    <h1>Novo Pensamento</h1>
    <a href="/toughts/dashboard" class="btn btn-secondary">Voltar</a>
    <form action="/toughts/new-tought" method="post">
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" id="title" placeholder="Escreva aqui o pensamento" required>
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>