<a href="/">Voltar</a>
<div class="container-posts">
    <div class="post">
        <h2>{{product.name}}</h2>
        <p class="price">R$: {{product.preco}}</p>
        <a href="post/{{product.id}}">Ver Produto</a>
    </div>
</div>