*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: #f6982d;
}


.message{
    padding: 10px 0;
    background-color: #f6982d;
    color: white;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

#navbar, footer{
    background-color: #efefef;
}

#navbar #logo img{
    height: 40px;
}
#navbar{
    padding: 2.5em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f6982d;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    margin-left: 1em;
}

#navbar ul li a{
    text-decoration: none;
    transition: .5s;
    font-weight: bold;
    color: #f6982d;
}

#navbar ul li a:hover{
    color: #ccc;

}

/*Container*/
.container{
    min-height: 60vh;
    padding: 2em;
    display: block;
}


/* form */

.auth-container{
    margin: 0 auto;
    max-width: 450px;
}

form .form-control{
    flex-direction: column;
    display: flex;
    border: none;
    height: auto;
    padding-left: 0;
}
form .form-control label{
    margin: 0;
}
form .form-control input, form .form-control textarea{
    padding: 5px;
    border-radius: 2px;
    border: 2px solid #f6982d;
    outline: #f6982d;
}
/* form .form-control input::placeholder{
    color: #f6982d;
}
 */


form input[type="submit"], .btn{
    background-color: #f6982d;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px 0;
    display: block;
    border: 2px solid #f6982d;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
}


form input[type="submit"]:hover, .btn:hover{
    background-color: white;
    color: #f6982d;
}



/* toughts */

#toughts{
    list-style: none;
    border: 2px solid #f6982d;
    border-bottom: 0;
}
#toughts li{
    border-bottom: 2px solid #f6982d;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#toughts li h3{
    color: #999;
    margin: 0;
}

#toughts li .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toughts li .actions i{
    color: #f6982d;
    font-size: 20px !important;
    margin: 0 10px;
}


/*btns*/
.btn-primary{
    background-color: #f6982d !important;
    border-color: #f6982d !important;
}



/*Footer*/


footer{
    height: 150px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f6982d;
}

footer span{
    font-weight: bold;
    color: #f6982d;
}

